<% if @mission && !@mission.messages.empty? %>
  <h1>Messages for Mission: <%= @mission.title %></h1><br>
  <% @mission.messages.each do |message| %>
    <p>Secret Agent: <%= message.user.name %> says "<%= morse_encode(message.content) %>" <%= link_to "Send Code", message_path(message) %></p>
  <% end %>

<% else %>

<h1>You have not created coded messages yet, please click <%= link_to "here", new_mission_path %> to start</h1>


<% end %>