<% if @mission %>
  <h1>Messages for Mission: <%= @mission.title %></h1><br>
  <% @mission.messages.each do |message| %>
    <p>Secret Agent: <%= message.user.name %> says "<%= morse_encode(message.content) %>" <%= link_to "Send Code", message_path(message) %></p>
  <% end %>
<% else %>
  <h1>All Messages</h1>


<ul>
<% @messages.each do |m|%>
  <li>Secret Agent <%= m.user.name%> says "<%= morse_encode(m.content) %>" about this mission: <strong><%= link_to m.mission.title, mission_path(m.mission_id) %></strong> | <%= link_to "Send Code", user_message_path(m.user_id, m) %></li>
<% end %>
</ul>
<% end %>