<% if @mission %>
<h1>New Message for Mission: <%= @mission.title %></h1>
<% end %>

<% if @mission %>

<%= form_for([@mission, @message]) do |f| %>


  <%= f.label :mission %>
  <%= f.collection_select :mission_id, Mission.all, :id, :title %>

  <%= f.label :Message %>
  <%= f.text_field :content %>


  <%= f.submit "Leave Message" %>

<% end %>

<% else %>

<h3>

<% end %>