<% if @message.mission %>
<h1>New Message for Mission: <%= @message.mission.title %></h1>
<% end %>


<% if @message.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
 
    <ul>
    <% @message.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for([@message.mission, @message]) do |f| %>

   <% if !!@message.mission %>
    <%= f.label :Mission%>
    <%= f.collection_select :mission_id, Mission.all, :id, :title %>
   <% else %>
    <%= f.hidden_field :mission_id %>
   <% end %>

    <%= f.label :Message %>
    <%= f.text_field :content %>

    <%= f.submit "Encode Message" %>

<% end %>

