<% if @message.mission %>
<h1>New Message for Mission: <%= @message.mission.title %></h1>
<% end %>


<%= render partial: "layouts/errors", locals: {object: @message} %>


<%= form_for([@message.mission, @message]) do |f| %>

   <% if !!@message.mission %>
    <%= f.label :Mission%>
    <%= f.collection_select :mission_id, Mission.all, :id, :title %>
   <% else %>
    <%= f.hidden_field :mission_id %>
   <% end %>

    <%= f.label :Message %>
    <%= f.text_field :content %>

    <%= f.submit "Encode Message" %>

<% end %>

