<% if @mission %>
<h1>New Message for Mission: <%= @mission.title %></h1>
<% end %>



<%= form_for([@mission, @message]) do |f| %>

    <% if !!@mission %>
    <%= f.label :Mission%>
    <%= f.collection_select :mission_id, Mission.all, :id, :title %>
    <% end %>

    <%= f.label :Message %>
    <%= f.text_field :content %>

    <%= f.submit "Encode Message" %>

<% end %>

