<h1>All Missions</h1>

<%= form_tag("/missions", method: 'get') do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
<br>
<%= form_tag("/missions", method: 'get') do %>
  <%= label_tag(:category_id, "Select a Category:") %>
  <%= collection_select(:mission,:category_id, Category.all,:id, :name) %>
  <%= submit_tag("Filter") %>
<% end %>
<br>
 <p><%= link_to "Create a new mission", new_mission_path %></p>
 <br>
<strong>MISSION...CATEGORY...NAME...IS...NOT...WORKING...WHY?</strong>
<% @missions.each do |mission| %>
    <p><strong>Mission Title:</strong> <%= mission.title %> | <strong>Mission Category:</strong> category should be here <% mission.category.name %><br> <strong>Date Created:</strong> <%= mission.created_at.strftime("%m/%d/%Y at %I:%M%p") %> | <strong>Last Updated:</strong> <%= mission.updated_at.strftime("%m/%d/%Y at %I:%M%p") %>
    <br>
    <%= link_to "Read Mission Details", mission_path(mission) %></p>
<% end %>

