<h1>New Mission</h1>

<% if @mission.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@mission.errors.count, "error") %> prohibited this mission from being saved:</h2>
 
    <ul>
    <% @mission.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@mission) do |f| %>

    <%= f.label "Choose a mission category:" %>
    <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true %>

   <p>Or create a new category:
  <%= f.fields_for :category do |c| %>
    <%= c.text_field :name %>
  <% end %>
  </p>

    <%= f .label :title %>
    <%= f.text_field :title%>

    <%= f .label :content %>
    <%= f.text_field :content%>

    <%= f.submit "Create Mission" %>

<% end %>